{% extends 'layout.html' %}

{% block header %}
{% include 'header.html' with context %}
{% endblock %}

{% block leftside %}
{% include 'leftside.html' with context %}
{% endblock %}

{% block rightside %}
{% include 'rightside.html' with context %}
{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-5">

            <div class="box box-solid">
                <div class="box-header">
                    <i class="fa fa-camera-retro"></i>
                    <h3 class="box-title"><span class="zh">3D 机房资源管理</span></h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <a href="http://110.249.213.20:8080/uinv_demo/" target="_blank">
                        <img src="{{ url_for('static', filename='cdn/01.png') }}" class="img-responsive" alt="3d">
                    </a>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-power-off"></i>
                    <h3 class="box-title"><span class="zh">机柜用电统计</span></h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered zh" >
                        <tr>
                            <th>机柜号</th>
                            <th>所属机房</th>
                            <th>当前耗电量</th>
                            <th>月度耗电量</th>
                        </tr>
                        <tr>
                            <td>2-0-1</td>
                            <td>2号机房</td>
                            <td><span class="badge bg-blue"><strong>1.2</strong></span></td>
                            <td><span class="badge bg-red"><strong>42</strong></span></td>
                        </tr>
                        <tr>
                            <td>2-0-2</td>
                            <td>2号机房</td>
                            <td><span class="badge bg-blue"><strong>0.8</strong></span></td>
                            <td><span class="badge bg-red"><strong>26</strong></span></td>
                        </tr>
                        <tr>
                            <td>2-0-3</td>
                            <td>2号机房</td>
                            <td><span class="badge bg-blue"><strong>1.6</strong></span></td>
                            <td><span class="badge bg-red"><strong>57</strong></span></td>
                        </tr>

                    </table>
                </div><!-- /.box-body -->
                
            </div><!-- /.box -->
        </div><!-- /.col -->

        <div class="col-md-7">
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-building-o"></i>
                    <h3 class="box-title"><span class="zh">机柜资源统计</span></h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered zh" >
                        <tr>
                            <th>房间号</th>
                            <th>机柜占用量</th>
                            <th>百分比</th>
                        </tr>
                        <tr>
                            <td>2号机房</td>
                            <td>12 / 30</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-yellow" style="width: 36%;"></div>
                                </div>
                                
                            </td>
                        </tr>

                        <tr>
                            <td>3号机房</td>
                            <td>5 / 30</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-light-blue" style="width: 15%;"></div>
                                </div>
                                
                            </td>
                        </tr>

                    </table>
                </div><!-- /.box-body -->
                
            </div><!-- /.box -->

            <div class="box box-warning">
                <div class="box-header">
                    <i class="fa fa-sitemap"></i>
                    <h3 class="box-title"><span class="zh">网络设备统计</span></h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered zh" >
                        <tr>
                            <th>设备编号</th>
                            <th>设备类型</th>
                            <th>所属机柜</th>
                            <th>连接端口</th>
                            <th>上行流量</th>
                            <th>下行流量</th>
                        </tr>
                        <tr>
                            <td>NE40E-1</td>
                            <td>路由器</td>
                            <td>2-0-1</td>
                            <td>30 / 100</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-light-blue" style="width: 36%;"></div>
                                </div>
                                
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-yellow" style="width: 76%;"></div>
                                </div>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>NE40E-2</td>
                            <td>路由器</td>
                            <td>2-0-2</td>
                            <td>46 / 100</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-light-blue" style="width: 16%;"></div>
                                </div>
                                
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-light-blue" style="width: 46%;"></div>
                                </div>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>S9312-1</td>
                            <td>交换机</td>
                            <td>2-0-3</td>
                            <td>18 / 60</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-light-blue" style="width: 26%;"></div>
                                </div>
                                
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-red" style="width: 96%;"></div>
                                </div>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>S9312-2</td>
                            <td>交换机</td>
                            <td>2-0-4</td>
                            <td>28 / 70</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-light-blue" style="width: 36%;"></div>
                                </div>
                                
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-yellow" style="width: 60%;"></div>
                                </div>
                                
                            </td>
                        </tr>

                    </table>
                </div><!-- /.box-body -->
                
            </div><!-- /.box -->

        </div>

    </div>
</section>   
<!-- /.content -->

{% endblock %}