{% extends 'layout.html' %}

{% block header %}
{% include 'header.html' with context %}
{% endblock %}

{% block leftside %}
{% include 'leftside.html' with context %}
{% endblock %}

{% block rightside %}
{% include 'rightside.html' with context %}
{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-6">

            <!-- 3D 机房资源管理 -->
            <div class="box box-solid">
                <div class="box-header">
                    <i class="fa fa-camera-retro"></i>
                    <h3 class="box-title"><span class="zh">3D 机房资源管理</span></h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <a href="http://110.249.213.20:8080/uinv_demo/" target="_blank">
                        <img src="{{ url_for('static', filename='cdn/pic/3d.png') }}" class="img-responsive" alt="3d">
                    </a>
                </div><!-- /.box-body -->
            </div><!-- / 3D 机房资源管理 -->

            <!-- 局方资产 -->
            <div class="box box-info">
                <div class="box-header">
                    <i class="fa fa-sitemap"></i>
                    <h3 class="box-title"><span class="zh">局方资产</span></h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered zh" >
                        <tr>
                            <th>设备编号</th>
                            <th>设备类型</th>
                            <th>管理IP</th>
                            <th>运行状态</th>
                        </tr>
                        <tr>
                            <td>NE40E-1</td>
                            <td>路由器</td>
                            <td>221.192.23.232</td>
                            <td><span class="badge bg-green"><strong>启用</strong></span></td>

                        </tr>
                        <tr>
                            <td>NE40E-2</td>
                            <td>路由器</td>
                            <td>221.192.23.233</td>
                            <td><span class="badge bg-green"><strong>启用</strong></span></td>
                        </tr>
                        <tr>
                            <td>S9312-1</td>
                            <td>交换机</td>
                            <td>110.249.211.253</td>
                            <td><span class="badge bg-green"><strong>启用</strong></span></td>
                        </tr>
                        <tr>
                            <td>S9312-2</td>
                            <td>交换机</td>
                            <td>110.249.211.254</td>
                            <td><span class="badge bg-green"><strong>启用</strong></span></td>
                        </tr>
                    </table>
                </div><!-- /.box-body -->    
            </div><!-- / 局方资产 -->

        </div><!-- /.col -->

        <div class="col-md-6">

            <!-- 机柜租用统计 -->
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-building-o"></i>
                    <h3 class="box-title"><span class="zh">机柜租用统计</span></h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered zh" >
                        <tr>
                            <th>机房号</th>
                            <th>入驻客户</th>
                            <th>机柜利用率</th>
                        </tr>

                        <tr>
                            <td>1号机房</td>
                            <td><span class="badge bg-light-blue"><strong>6</strong></span></td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" style="width: 33%;">
                                        <span> 10/30 柜</span>
                                    </div>
                                </div>
                                
                            </td>
                        </tr>

                        <tr>
                            <td>2号机房</td>
                            <td><span class="badge bg-light-blue"><strong>8</strong></span></td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-yellow" style="width: 36%;">
                                        <span>12/30 柜</span>
                                    </div>
                                </div>
                                
                            </td>
                        </tr>

                        <tr>
                            <td>3号机房</td>
                            <td><span class="badge bg-light-blue"><strong>15</strong></span></td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" style="width: 15%;">
                                        <span> 5/30 柜</span>
                                    </div>
                                </div>
                                
                            </td>
                        </tr>

                    </table>
                </div><!-- /.box-body -->
            </div><!-- / 机柜租用统计 -->

            <!-- 客户资产 -->
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-users"></i>
                    <h3 class="box-title"><span class="zh">客户资产</span></h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered zh" >
                        <tr>
                            <th>#</th>
                            <th>客户名</th>
                            <th>租用机柜</th>
                            <th>上架设备</th>
                            <th>空间使用</th>
                        </tr>

                        <tr>
                            <td>1.</td>
                            <td>蓝汛</td>
                            <td>4</td>
                            <td>31</strong></span></td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-danger" style="width: 90%;">
                                        <span>140/160 U</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>班班通</td>
                            <td>1</td>
                            <td>4</td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" style="width: 20%;">
                                        <span>8/40 U</span>
                                    </div>
                                </div>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>光大银行</td>
                            <td>2</td>
                            <td>12</td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-yellow" style="width: 70%;">
                                        <span>58/84 U</span>
                                    </div>
                                </div>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>社保局</td>
                            <td>1</td>
                            <td>3</td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-green" style="width: 20%;">
                                        <span>8/42 U</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>腾讯</td>
                            <td>6</td>
                            <td>50</td>
                            <td>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-red" style="width: 92%;">
                                        <span>220/240 U</span>
                                    </div>
                                </div>
                                
                            </td>
                        </tr>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div><!-- /.box-footer -->
                
            </div><!-- / 客户资产 -->

        </div><!-- /.col -->

    </div><!-- /.row -->

</section>   
<!-- /.content -->

{% endblock %}