{% extends 'layout.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='cdn/puewue/dashboard.css') }}">
{% endblock %}

{% block header %}
{% include 'header.html' with context %}
{% endblock %}

{% block leftside %}
{% include 'leftside.html' with context %}
{% endblock %}

{% block rightside %}
{% include 'rightside.html' with context %}
{% endblock %}

{% block content %}

<!-- Main content -->
<section class="content">


<div class="container" id="app">

<div class="container__inner">

<div class="hero-feature">

<div class="support-message zh">
    <p>您的浏览器版本太低，不支持本报表</p>
</div>

<div class="hero-feature__row">

<div class="hero-feature__main corner-label-holder">

<div class="svg-only" >
<div class="corner-label">

    <div id="standard-msg">
        <span class="zh">下次更新:</span>
        <br>
        <span class="interval-icon-label" id="countdown-timer"></span>
        <div class="interval-icon">

        </div>
    </div>

    <div id="processing-msg">
        Processing...<br>
        Stand by
    </div>

</div>

<div class="corner-label--bottom">24 小时间隔</div>

<div class="wheel-graph-container">

<div class="clock-display">
<div class="clock-display__mid">
<div class="clock-display__inner">
<div class="clock-display__value">&nbsp;</div>
<div class="clock-display__aux">
    <span class="clock-display__context">&nbsp;</span>
    <span class="clock-display__day">&nbsp;</span></div>
</div>
</div>
</div>
<div class="wheel-graph-event-cloak">

</div>
<div class="wheel-graph">

</div>
</div>

</div>
</div> <!-- / .hero-feature__main -->

<div class="hero-feature__aux">

<section class="metric-display-group">

<article class="metric-display pue" data-metric="pue">
<div class="metric-display__label">
<h4 class="zh">用电量</h4>
<div class="item-label-note">(PUE)</div>
</div>
<div class="metric-display__value svg-only">
<strong class='large-chars'><span class="value-container">&nbsp;</span></strong>
<div class="item-label-note"><i class="icon--down-arrow metric-display__icon"></i></div>
</div>
<div class="metric-display__text">
<p>客户用电信息</p>
</div>
</article>

<article class="metric-display wue" data-metric="wue">
<div class="metric-display__label">
<h4 class="zh">机柜占用量</h4>
<div class="item-label-note">(WUE)</div>
</div>
<div class="metric-display__value svg-only">
<strong class='large-chars'><span class="value-container">&nbsp;</span></strong>
<div class="item-label-note"><span class="hide-on-select">L/kWh</span> <i class="icon--down-arrow metric-display__icon"></i></div>
</div>
<div class="metric-display__text">
<p class="zh">占用机柜: 3-0-2 </p>
</div>
</article>

<article class="metric-display humidity" data-metric="humidity" data-view-mode="percentage">
<div class="metric-display__label">
<h4 class="zh">带宽占用量</h4>
<div class="item-label-note">(Outdoors)</div>
</div>
<div class="metric-display__value svg-only">
<strong class='large-chars'><span class="value-container">&nbsp;</span><span class="percent">%</span></strong>
<div class="item-label-note"><span class="hide-on-select">/100%</span> <i class="icon--down-arrow metric-display__icon"></i></div>
</div>
<div class="metric-display__text">
<p class="zh">租用带宽: 1G </p>
</div>
</article>

<article class="metric-display temperature" data-metric="temperature" data-view-mode="temperature">
<div class="metric-display__label">
<h4 class="zh">IP资源占用量</h4>
<div class="item-label-note">(Outdoors)</div>
</div>
<div class="metric-display__value svg-only">
<strong class='large-chars'><span class="value-container">&nbsp;</span>°</strong>
<div class="item-label-note"><span class="hide-on-select">F /<span class="converted-value-container">&nbsp;</span>°C </span><i class="icon--down-arrow metric-display__icon"></i></div>
</div>
<div class="metric-display__text">
<p class="zh">占用IP地址段: 110.249.213.10/24 </p>
</div>
</article>

</section>

</div>  <!-- / .hero-feature__aux -->

</div> <!-- / .hero-feature__row -->

<div class="hero-feature__row--boxout">

<section class="boxout">

<div class="row">

<div class="boxout__intro-col">
<p class="zh">
<strong>客户信息: </strong> &mdash; 兰讯</p>
</div>

<section class="boxout__data-col">
<h4>PUE</h4>
<div class="large-chars">1.09</div>
<div class="item-label-note">
TTM
</div>
</section>

<section class="boxout__data-col">
<h4>WUE</h4>
<div class="large-chars">.51</div>
<div class="item-label-note">
TTM
</div>
</section>

</div>

</section>

</div> <!-- / .hero-feature__row -->

</div> <!-- / .hero-feature -->

<div class="divided-area-container">


<section class="divided-area svg-only">

<div class="row">

<div class="col--aux">
<nav class="date-range-nav" data-behavior="filter_data_range">
<ul>
<li><a class="current"  href="#"  data-range="7-days" data-unit="days" data-steps="7" data-range-value="7">7 days</a></li>
<li><a href="#" data-range="30-days" data-steps="3" data-unit="days" data-range-value="30">30 days</a></li>
<li><a href="#" data-range="90-days" data-steps="3" data-unit="days" data-range-value="90">90 days</a></li>
<li><a href="#" data-range="1-year" data-suffix="" data-unit="months" data-steps="12" data-range-value="12">1 year</a></li>
</ul>
</nav>
</div>

<div class="col--main--histograms">
<section class="histogram-group">
<article class="histogram pue" data-metric="pue">
<h4 class="histogram__title">Power Usage Effectiveness <span class="item-label-note">(PUE)</span></h4>
<div class="histogram__value-label"><span class="value-container">&nbsp;</span></div>
<div class="histogram__inner" data-metric="pue">

</div>
<div class="histogram__mouse-label"><span class="value-container"></span></div>
<div class="background-axis-range-label top"><span class="value-container"></span></div>
<div class="background-axis-range-label bottom"><span class="value-container"></span></div>
</article>

<article class="histogram wue" data-metric="wue">
<h4 class="histogram__title">Water Usage Effectiveness <span class="item-label-note">(WUE)</span></h4>
<div class="histogram__value-label"><span class="value-container">&nbsp;</span> <small class="small-unit">L/kWh</small></div>
<div class="histogram__inner" data-metric="wue">

</div>
<div class="histogram__mouse-label"><span class="value-container"></span></div>
<div class="background-axis-range-label top"><span class="value-container"></span></div>
<div class="background-axis-range-label bottom"><span class="value-container"></span></div>
</article>

<article class="histogram humidity" data-metric="humidity">
<h4 class="histogram__title">Humidity</h4>
<div class="histogram__value-label"><span class="value-container">&nbsp;</span>%</div>
<div class="histogram__inner" data-metric="humidity">

</div>
<div class="histogram__mouse-label"><span class="value-container"></span>%</div>
<div class="background-axis-range-label top"><span class="value-container"></span>%</div>
<div class="background-axis-range-label bottom"><span class="value-container"></span>%</div>
</article>

<article class="histogram temperature" data-metric="temperature">
<h4 class="histogram__title">Temperature</h4>
<div class="histogram__value-label"><span class="value-container">&nbsp;</span>°</div>
<div class="histogram__inner" data-metric="temperature">

</div>
<div class="histogram__mouse-label"><span class="value-container"></span>°</div>
<div class="background-axis-range-label top"><span class="value-container"></span>°</div>
<div class="background-axis-range-label bottom"><span class="value-container"></span>°</div>
</article>

<footer class="histogram-group__footer">
<div class="histogram-date-label footer-state">
<div class="histogram-date-label__inner">
<span class="histogram-date-label__keyline">&nbsp;</span>
<span class="value-container"></span>
</div>
</div>
<div class="histogram-split-labels footer-state">

</div>
</footer>
</section>
</div>

</div>

</section>

<footer class="divided-area">

<div class="row">

<div class="col--aux">
<h4>Learn More</h4>
</div>

<div class="col--main">
<div class="col--split">
<nav>
<ul>
<li><a target="_blank" href="http://www.thegreengrid.org/">The Green Grid</a></li>
</ul>
</nav>
</div>
<div class="col--split">
<nav>
<ul>
<li><a target="_blank" href="http://opencompute.org/">The Open Compute Project</a></li>
</ul>
</nav>
</div>
</div>

</div>

</footer>

</div>

</div>

</div> <!-- / .container -->


</section><!-- /.content -->

{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='cdn/puewue/dashboard.js') }}" type="text/javascript"></script>

<script src="{{ url_for('static', filename='cdn/puewue/application.js') }}" type="text/javascript"></script>
{% endblock %}