{% extends 'manager/layout.html' %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='vendor/datatables/css/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
<style>
    .tab-pane {
        position: relative;
        margin: 10px 20px 0 20px;
        height: 400px;
    }
    .status-ok {
        font-size: 16px;
        color: #27b740;
    }

    .status-error {
        font-size: 16px;
        color: #f3343d;
    }

    .center {
        text-align: center;
    }

    #account-table {
        min-height: 300px;
    }

    .form-inline {
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">

    <!-- 各业务收入情况 -->
    <div class="row">
        <div class="col-lg-12 col-mg-12">
            <!-- 各业务收入情况 -->
            <div class="box box-solid">
                <!-- Custom tabs -->
                <div class="nav-tabs-custom">
                    <!-- Tabs within a box -->
                    <ul class="nav nav-tabs pull-right">
                        <li class="active"><a href="#account-pane" data-toggle="tab">
                            <span class="zh">端口核算</span></a>
                        </li>
                        <li class="pull-left header"><i class="fa fa-calculator"></i>
                            <span class="zh">端口核算</span>
                        </li>
                    </ul>

                    <div class="tab-content no-padding">
                        <!-- 收入统计 -->
                        <div class="tab-pane active" id="account-pane">
                            <form class="form-inline pull-right" role="form">
                                <div class="form-group">
                                    <label class="sr-only">机房</label>
                                    <p class="form-control-static" style="margin-right: 10px;">选择机房: </p>
                                </div>
                                <div class="form-group">
                                    <label for="select-room" class="sr-only">选择机房</label>
                                    <select class="form-control input-sm" id="select-room">
                                        <option>石家庄金石</option>
                                        <option>石家庄鹿泉</option>
                                        <option>石家庄二枢纽</option>
                                        <option>保定A</option>
                                        <option>保定B</option>
                                        <option>唐山A</option>
                                        <option>唐山B</option>
                                    </select>
                                </div>
                            </form>

                            <table id="account-table" class="table table-striped table-bordered"></table>
                        </div>
                    </div>
                </div><!-- /.nav-tabs-custom -->

            </div><!-- / 收入统计 -->

        </div><!-- /.Left col -->

    </div>


</section><!-- /.content -->

{% endblock %}

{% block js %}
{{ super() }}
<!-- highcharts js -->
<script src="{{ url_for('static', filename='vendor/highcharts/highcharts.js') }}" type="text/javascript"></script>

<!-- echarts js -->
<script src="{{ url_for('static', filename='vendor/echarts/echarts-all.js') }}" type="text/javascript"></script>

<!-- data table js -->
<script src="{{ url_for('static', filename='vendor/datatables/js/jquery.dataTables.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='vendor/datatables/js/dataTables.bootstrap.js') }}" type="text/javascript"></script>

<!-- page js -->
<script src="{{ url_for('static', filename='custom/appjs/manager/flow_page.js') }}" type="text/javascript"></script>

{% endblock %}
