{% extends 'layout.html' %}

{% block header %}
{% include 'header.html' with context %}
{% endblock %}

{% block leftside %}
{% include 'leftside.html' with context %}
{% endblock %}

{% block rightside %}
{% include 'rightside.html' with context %}
{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">

    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        32
                    </h3>
                    <p class="zh">
                        签约客户
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">
                    <span class="zh">详情</span> 
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>
                        53<sup style="font-size: 20px">%</sup>
                    </h3>
                    <p class="zh">
                        机柜利用率
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">
                    <span class="zh">详情</span> 
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>
                        54<sup style="font-size: 20px">%</sup>
                    </h3>
                    <p class="zh">
                        带宽利用率
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">
                    <span class="zh">详情</span> 
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>
                        158<sup style="font-size: 20px" class="zh"> 万</sup>
                    </h3>
                    <p class="zh">
                        当月收入
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios7-cart-outline"></i>
                </div>
                <a href="#" class="small-box-footer">
                    <span class="zh">详情</span> 
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div><!-- ./col -->
    </div><!-- /.row -->
    
    <!-- top row -->
    <div class="row">
        <div class="col-xs-12 connectedSortable">
            
        </div><!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-6 connectedSortable"> 
            <!-- Box (with bar chart) -->
            <div class="box box-danger" id="loading-example">
                <div class="box-header">
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-danger btn-sm refresh-btn" data-toggle="tooltip" title="Reload"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-danger btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-danger btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                    </div><!-- /. tools -->
                    <i class="fa fa-cloud"></i>

                    <h3 class="box-title">Server Load</h3>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="row">
                        <div class="col-sm-7">
                            <!-- bar chart -->
                            <div class="chart" id="bar-chart" style="height: 250px;"></div>
                        </div>
                        <div class="col-sm-5">
                            <div class="pad">
                                <!-- Progress bars -->
                                <div class="clearfix">
                                    <span class="pull-left">Bandwidth</span>
                                    <small class="pull-right">10/200 GB</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
                                </div>

                                <div class="clearfix">
                                    <span class="pull-left">Transfered</span>
                                    <small class="pull-right">10 GB</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-red" style="width: 70%;"></div>
                                </div>

                                <div class="clearfix">
                                    <span class="pull-left">Activity</span>
                                    <small class="pull-right">73%</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-light-blue" style="width: 70%;"></div>
                                </div>

                                <div class="clearfix">
                                    <span class="pull-left">FTP</span>
                                    <small class="pull-right">30 GB</small>
                                </div>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-aqua" style="width: 70%;"></div>
                                </div>
                                <!-- Buttons -->
                                <p>
                                    <button class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> Generate PDF</button>
                                </p>
                            </div><!-- /.pad -->
                        </div><!-- /.col -->
                    </div><!-- /.row - inside box -->
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <div class="row">
                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                            <input type="text" class="knob" data-readonly="true" value="80" data-width="60" data-height="60" data-fgColor="#f56954"/>
                            <div class="knob-label">CPU</div>
                        </div><!-- ./col -->
                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                            <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgColor="#00a65a"/>
                            <div class="knob-label">Disk</div>
                        </div><!-- ./col -->
                        <div class="col-xs-4 text-center">
                            <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="#3c8dbc"/>
                            <div class="knob-label">RAM</div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->
                </div><!-- /.box-footer -->
            </div><!-- /.box -->
            
        </section>  
    </div>
    
</section><!-- /.content -->

{% endblock %}